body {
    /* text-align: center; */
    background-color: green;
}

.textAlign {
    text-align: center;
}

.bulba {
    color: white;
    background: green;
    height: 40px;
    width: 40px;
}

.joinButton {
    position: absolute;
    right: 16vw;
}